<div class="dashboard">
  <app-admin-sidebar></app-admin-sidebar>
  <!-- Header Component-->
  <app-admin-header></app-admin-header>
    <!-- Main Content -->
    <main class="main">
      <div class="top-controls">
        <input type="text" placeholder="Search..." />
        <button class="btn">Search</button>
        <div class="calendar">
          📅 Today ⌄
        </div>
      </div>
  
      <div class="card">
        <div class="card-header">
          <h3>Visitor Purposes</h3>
          <button class="btn">➕ Create Purpose</button>
        </div>
        <ag-grid-angular
          style="width: 100%; height: 500px;"
          class="ag-theme-alpine"
          [rowData]="rowData"
         [columnDefs]="columnDefs"
         [pagination]="true"
         [paginationPageSize]="10">
         </ag-grid-angular>
        

        <!-- <table class="purpose-table">
          <thead>
            <tr>
              <th> S/N</th>
              <th> Name</th>
              <th> Date</th>
              <th> Purpose</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Personal</td>
              <td>
                <span class="action"></span>
                <span class="action"></span>
                <span class="action"></span>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Official</td>
              <td>
                <span class="action">👁️</span>
                <span class="action">❌</span>
                <span class="action">✏️</span>
              </td>
            </tr>
          </tbody>
        </table> -->
  
        <div class="pagination">
          <span>1/23</span>
          <button class="btn">Next</button>
        </div>
      </div>
    </main>
  </div>
  