<app-admin-header></app-admin-header>
<app-admin-sidebar></app-admin-sidebar>

<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h2 class="mb-0">Departments</h2>
    <button class="btn btn-success" (click)="createForm.openModal()">
      <i class="fas fa-plus"></i> Create Department
    </button>
    <app-create-department-form #createForm></app-create-department-form>
  </div>

  <div class="card-body">
    <ag-grid-angular
      style="width: 100%; height: 500px;"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [frameworkComponents]="frameworkComponents"
      [pagination]="true"
      [paginationPageSize]="10"
      (gridReady)="onGridReady($event)"
      [getRowId]="getRowId.bind(this)">
    </ag-grid-angular>
  </div>

  <app-edit-department-modal (departmentUpdated)="handleUpdateDepartment($event)"></app-edit-department-modal>
  <app-delete-department-modal (departmentDeleted)="handleConfirmDelete($event)"></app-delete-department-modal>
</div>
