<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h2 style="font-size: 28px; font-weight: 600; margin-bottom: 20px;">Sign In</h2>
        <p style="color: rgb(151, 151, 151); font-size: 18px; font-weight: 600; margin-bottom: 40px;">Enter your <a style="color: rgb(151, 151, 151); text-decoration: underline;">username</a> and <a style="color: rgb(151, 151, 151); text-decoration: underline;">password</a></p>
        <div class="form-box">
            <form (ngSubmit)="onLogin()">
                <div class="input-group" style="margin-bottom: 20px; margin-top: 20px;">
                    <span class="icon" style="margin-left: 25px;"><i class="fas fa-user"></i></span>
                    <input type="text" placeholder="Username" [(ngModel)]="username" name="username" style="padding: 5px; margin-left: 15px;" required />
                </div>

                <div class="input-group" style="margin-bottom: 20px;">
                    <span class="icon" style="margin-left: 25px;"><i class="fa fa-envelope"></i></span>
                    <input type="password" placeholder="Password" [(ngModel)]="password" name="password" style="padding: 5px; margin-left: 15px;" required />
                </div>

                <div class="input-group" style="margin-bottom: 20px; margin-top: 20px;">
                    <span class="icon" style="margin-left: 25px;"><i class="fa fa-user-tag"></i></span>
                    <select [(ngModel)]="selectedRole" name="role" style="padding: 5px; margin-left: 15px; border: none; background: transparent; outline: none; flex: 1;" required>
                        <option value="admin">Admin</option>
                        <option value="employee">Employee</option>
                        <option value="reception">Receptionist</option>
                      </select>
                </div>
                
                <div class="remember-me" style="margin-bottom: 40px;">
                    <input type="checkbox" id="remember">
                    <label for="remember" style="margin-top: 7px;">Remember my password</label>
                </div>
                <button type="submit">Login</button>
                <a href="#" class="forgot-password">Forgot Password?</a>
            </form>
        </div>
    </div>

</body>
</html>